.sidebar {
  z-index: 100000000;
  transform: 0.3s ease !important;
}
.blue-glassmorphism {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  /* background: rgba(255, 255, 255, 0.05); */
  /* border-radius: 16px; */
  background-color: #000;
  /* backdrop-filter: blur(50px); */
  /* -webkit-backdrop-filter: blur(5px); */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}
.sidebar-links {
  width: 90% !important;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
.sidebar-links:hover {
  transition: 0.3s ease;
  background-color: #181818;
}
.show-sidebar {
  right: -100%;
  transform: 0.3s ease !important;
}
